.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button {
  background-color: chartreuse;
  color: #282c34;
  height: 30px;
  width: 120px;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
